
@model ClerkChangPassword
@{
    ViewData["Title"] = "تعديل  الحساب";
}


<div class="container mt-5" style="margin-top: 30vw;margin-bottom: 30vw;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background: #a140a8;">  تعديل  الحساب:</div>
                <div class="card-body">

                      <form asp-action="ChangePassword" asp-controller="Clerk"  class="mt-4" method="post" >
                        <div class="form-group">
                          <label for="userName" class="form-label">اسم المشرف :</label>
                            <div class="input-group">
                      <input type="string" name="userName" id="userName" asp-for="userName" class="form-control" required>
                               <span asp-validation-for="userName"></span>
                        </div>

                           <label for="userName" class="form-label" style="margin-right:5vw;">الاسم الجديد(فى حالة عدم التغيير يترك فارغا)</label>
                            <div class="input-group">
                      <input type="string" name="NewUserName" value=" " id="NewUserName" asp-for="NewUserName" class="form-control" >
                              
                        </div>

                          <label for="oldPassword" class="form-label">كلمة المرور القديمة :</label>

                            <div class="input-group">
                      <input type="password" name="oldPassword" id="oldPassword" asp-for="oldPassword" class="form-control" required>
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="togglePasswordNew">
                    <i class="bi bi-eye-fill"></i>                        
                                </button>
                        </div>
                               <span asp-validation-for="oldPassword"></span>

                        </div>

                          <label for="newPassword" class="form-label">كلمة المرور الحديثة :</label>

                            <div class="input-group">
                      <input type="password" name="newPassword" id="password" asp-for="newPassword" class="form-control" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="bi bi-eye-fill"></i>                        
                                </button>
                               <span asp-validation-for="newPassword"></span>

                        </div>
                        </div>
                        </div>
                     <button class="btn btn-info " type="submit" style="margin-top:0.5vw">تغيير كلمة المرور</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
                 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
  const togglePasswordButton = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');

    togglePasswordButton.addEventListener('click', () => {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        togglePasswordButton.querySelector('i').classList.toggle('fa-eye');
        togglePasswordButton.querySelector('i').classList.toggle('fa-eye-slash');
    });



     const togglePasswordButton2 = document.getElementById('togglePasswordNew');
    const passwordInput2 = document.getElementById('oldPassword');

    togglePasswordButton2.addEventListener('click', () => {
        const type = passwordInput2.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput2.setAttribute('type', type);
        togglePasswordButton2.querySelector('i').classList.toggle('fa-eye');
        togglePasswordButton2.querySelector('i').classList.toggle('fa-eye-slash');
    });
</script>
    }
