/* _content/charityMVC/Views/Admin/AddClerk.cshtml.rz.scp.css */
/* Add your custom CSS here */
.form-group[b-08uie2jrdt] {
    margin-bottom: 20px;
}

/* Adjust input field width as needed */
.form-control[b-08uie2jrdt] {
    width: 100%;
}

/* Align labels and inputs to the right */
.form-group label[b-08uie2jrdt] {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

/* Style required asterisks */
.text-danger[b-08uie2jrdt] {
    color: red;
    font-size: 18px;
    vertical-align: middle;
}

/* Increase space between radio buttons */
.radio-inline[b-08uie2jrdt] {
    margin-right: 10px;
}
.container[b-08uie2jrdt] {
margin-bottom: 10vh;
}

img[b-08uie2jrdt]{
    width: 20vw;
    height: 40vh;
    border-radius: 10%;
    margin: 0.5vw;
    border: 0.2rem dashed #cccccc;
}



a[b-08uie2jrdt]{
    margin: 1;
}
/* _content/charityMVC/Views/Admin/AllUsers.cshtml.rz.scp.css */
.m[b-ty7i6paeak]{
    margin-bottom: 15vh;
}
/* _content/charityMVC/Views/Admin/Index.cshtml.rz.scp.css */

  
  .adminNav[b-5m6b51bfl8]{
    

  align-items: center;
  height: 6.5vw;
  border-radius: 0.2vw 0.2vw;

  }
  
  
 .nav-item[b-5m6b51bfl8]{
  margin: 1vw;
 }


  /* .btn-success:active{
    background-color: rgb(240, 119, 119);
  } */
  /* .page-header{
    width: 13vw;
    height: 4vw;
    background-color:rgb(12, 144, 95);
    color: white;
    margin-top: 2vw;
    border-radius: 0.2vw 0.2vw;
    text-align: center;
    margin-right: 1vw;
    padding:0.5vw;
   
  }
  
  
   */
  
  
  
  
  
  
  
  
  
  
/* _content/charityMVC/Views/Clerk/cityUsers.cshtml.rz.scp.css */
.m[b-zmiuo6207s]{
    margin-bottom: 15vh;
}

/* _content/charityMVC/Views/Clerk/review.cshtml.rz.scp.css */
/* Add your custom CSS here */
.form-group[b-xm4hv9lbyi] {
    margin-bottom: 20px;
}

/* Adjust input field width as needed */
.form-control[b-xm4hv9lbyi] {
    width: 100%;
}

/* Align labels and inputs to the right */
.form-group label[b-xm4hv9lbyi] {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

/* Style required asterisks */
.text-danger[b-xm4hv9lbyi] {
    color: red;
    font-size: 18px;
    vertical-align: middle;
}

/* Increase space between radio buttons */
.radio-inline[b-xm4hv9lbyi] {
    margin-right: 10px;
}
.container[b-xm4hv9lbyi] {
margin-bottom: 10vh;
}

img[b-xm4hv9lbyi]{
    width: 20vw;
    height: 40vh;
    border-radius: 10%;
    margin: 0.5vw;
    border: 0.2rem dashed #cccccc;
}

.section[b-xm4hv9lbyi]{

    margin:0.5vw;
    border: 0.2rem solid #fbbb0b;
    border-radius: 2%;
    padding: 2vw;
    margin-bottom: 2vw;
    


}

a[b-xm4hv9lbyi]{
    margin: 1;
}
/* 
#proxy-section{
    display: none;
}
 */
/* _content/charityMVC/Views/Register/register.cshtml.rz.scp.css */
/* Add your custom CSS here */
.form-group[b-6kqv849j9o] {
    margin-bottom: 20px;
}
body[b-6kqv849j9o]{
    background: rgb(213, 234, 235);
}

/* Adjust input field width as needed */
/* 
    CSS class: .form-control
    Summary: The .form-control class is used to style input fields in a form. It sets the width of the input field to 100% of its parent container.
*/

.form-control[b-6kqv849j9o] {
    width: 100%;
}

/* Align labels and inputs to the right */
.form-group label[b-6kqv849j9o] {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

/* Style required asterisks */
.text-danger[b-6kqv849j9o] {
    color: red;
    font-size: 18px;
    vertical-align: middle;
}

/* Increase space between radio buttons */
.radio-inline[b-6kqv849j9o] {
    margin-right: 10px;
}
.container[b-6kqv849j9o] {
margin-bottom: 10vh;
}

.image-preview[b-6kqv849j9o]{

    margin: 1vw;
    height: 40vh;
    width: 20vw;
    border: 0.2rem dashed #d2cece ;
    border-radius: 15%;

    /* text */
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: #cccccc;
    
}

.image-preview__image[b-6kqv849j9o]{

    display: none;
    width: 19vw;
    height: 39vh;
    border-radius: 10%;
    padding: 0.5vw;

}


.image-preview__default-text[b-6kqv849j9o]{
    padding: 5vw;
    font-size: 1.5rem;
}


.section[b-6kqv849j9o]{

    margin:0.5vw;
    border: 0.1rem solid #148fa8;;
    border-radius: 2%;
    padding: 2vw;
    margin-bottom: 2vw;


}
/* _content/charityMVC/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* _content/charityMVC/Views/UserProfile/userProfile.cshtml.rz.scp.css */
/* Add your custom CSS here */
.form-group[b-mkglck74tt] {
    margin-bottom: 20px;
}

/* Adjust input field width as needed */
.form-control[b-mkglck74tt] {
    width: 100%;
}

/* Align labels and inputs to the right */
.form-group label[b-mkglck74tt] {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

/* Style required asterisks */
.text-danger[b-mkglck74tt] {
    color: red;
    font-size: 18px;
    vertical-align: middle;
}

/* Increase space between radio buttons */
.radio-inline[b-mkglck74tt] {
    margin-right: 10px;
}
.container[b-mkglck74tt] {
margin-bottom: 10vh;
}

img[b-mkglck74tt]{
    width: 20vw;
    height: 40vh;
    border-radius: 10%;
    margin: 0.5vw;
    border: 0.2rem dashed #cccccc;
}

.section[b-mkglck74tt]{

    margin:0.5vw;
    border: 0.2rem solid #cccccc;
    border-radius: 2%;
    padding: 2vw;
    margin-bottom: 2vw;


}

a[b-mkglck74tt]{
    margin: 1;
}
