/* Add your custom CSS here */
.form-group {
    margin-bottom: 20px;
}
body{
    background: rgb(213, 234, 235);
}

/* Adjust input field width as needed */
/* 
    CSS class: .form-control
    Summary: The .form-control class is used to style input fields in a form. It sets the width of the input field to 100% of its parent container.
*/

.form-control {
    width: 100%;
}

/* Align labels and inputs to the right */
.form-group label {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

/* Style required asterisks */
.text-danger {
    color: red;
    font-size: 18px;
    vertical-align: middle;
}

/* Increase space between radio buttons */
.radio-inline {
    margin-right: 10px;
}
.container {
margin-bottom: 10vh;
}

.image-preview{

    margin: 1vw;
    height: 40vh;
    width: 20vw;
    border: 0.2rem dashed #d2cece ;
    border-radius: 15%;

    /* text */
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: #cccccc;
    
}

.image-preview__image{

    display: none;
    width: 19vw;
    height: 39vh;
    border-radius: 10%;
    padding: 0.5vw;

}


.image-preview__default-text{
    padding: 5vw;
    font-size: 1.5rem;
}


.section{

    margin:0.5vw;
    border: 0.1rem solid #148fa8;;
    border-radius: 2%;
    padding: 2vw;
    margin-bottom: 2vw;


}