@model User
@{
    ViewData["Title"] = "حساب مؤقت";
}

<div class="card text-center">
  <div class="card-header">
    حساب مؤقت
  </div>
  <div class="card-body">
    <h5 class="card-title"> مرحبا بك @Model.fullName  </h5>
    <p class="card-text"> هذا حسابك : @Model.id</p>
    <p class="card-text">  كلمة المرور المؤقتة : @Model.password</p>
    <p class="card-text">  يمكنك تسجيل الدخول وتغيير كلمة السر من الاعدادات</p>
    <a asp-controller="Register" asp-action="Login" class="btn btn-success">تسجيل الدخول</a>
  </div>
  <div class="card-footer text-muted">
   
  </div>
</div>