
@model Clerk
@{
    ViewData["Title"] = "AddClerk";
}


@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData.ContainsKey("Success"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

<div class="row">
 <div class="col-sm-5"> </div>
 <div class="col-sm-4">
<div class="page-header">
<h6 style="padding-top: 0.5vw;">  اضافة مشرف </h6>
</div>
 </div>
</div>


   



<div style="margin-top: 5vw; margin-bottom:5vw">
     <form asp-action="AddClerk" asp-controller="Admin"  class="mt-4" method="post" >
                   
     <div class="section"  >
         <div class="row">
            <div class="col-2"> </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label>الاسم رباعي: <span class="text-danger">*</span></label>
                <input type="text" name="name" asp-for="name" class="form-control" required>
           
            </div>

              <div class="form-group">
                <label>رقم الجوال: <span class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="number" asp-for="phone"   name="phone" class="form-control" required>
                                          <span class="input-group-text">966</span>
                                    <span asp-validation-for="phone" class="text-danger"></span>

                </div>
                 </div>

                  <div class="form-group">
            <label for="city"> المدينة</label>
            <select class="form-control" asp-for="city" id="city" required>
                <option value="" aria-placeholder="مدينة"></option>
            </select>
         </div>

         <div class="form-group">
                          <label for="password" class="form-label">كلمة المرور:</label>
                            <div class="input-group">
                          <input type="password" class="form-control" asp-for="password" id="password" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="bi bi-eye-fill"></i>                        
                                </button>
                        </div>
                        </div>
                        </div>
             <button class="btn btn-success " type="submit" style="margin-top:0.5vw">اضافة</button>  
            </div>    
     </div>
     </form>

</div>

  @section Scripts
    {

        <script>

            

        var cities =  [ 
            "أبها", "الأحساء", "الباحة", "الدمام", "الرياض", "الزلفي", "الخبر", "الخرج", "الخفجي", "الجبيل", "الجوف", "الحائط", "الحبيل", "الحوية", "الدرعية", "الدوادمي", "الدومة الجندل", "الظهران",
            "العلا", "العيون", "الغاط", "الفريش", "القريات", "القطيف", "القويعية", "المجمعة", "المذنب", "المدينة المنورة", "المزاحمية", "المبرز", "المخواة", "النعيرية", "النماص", "الهفوف", "الوجه", 
            "بيشة", "تبوك", "تاروت", "جازان", "جدة", "حائل", "خميس مشيط", "رفحاء", "رأس تنورة", "رياض الخبراء", "ساجر", "سكاكا", "سيهات", "شرورة", "شقراء", "ضباء", "طريف", "ظهران الجنوب", "عرعر",
            "عفيف", "عنيزة", "غرناطة", "فيفاء", "قلوة", "قيصومة", "كفر الدوار", "مكة المكرمة", "محايل عسير", "مرات", "مراكز الجودة", "مزارع الشريفة", "مستورة", "مطوفة", "محمد بن عبدالوهاب", "نجران", 
            "نجوى", "نجوى ورغداء", "نخيل", "نمرة", "نفي", "نيابة", "هدا الشام", "هيئة", "هيئة الاتصالات وتقنية المعلومات", "وادي الدواسر", "وادي الريان", "وادي الشريعة", "وادي الفرع"
        ];

    var cityDropdown = document.getElementById("city");

        for (var i = 0; i < cities.length; i++) {
            var option = document.createElement("option");
            option.value = cities[i];
            option.text = cities[i];
            cityDropdown.appendChild(option);
        }

 const togglePasswordButton = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');

    togglePasswordButton.addEventListener('click', () => {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        togglePasswordButton.querySelector('i').classList.toggle('fa-eye');
        togglePasswordButton.querySelector('i').classList.toggle('fa-eye-slash');
    });

        </script>

    }