
  
  .adminNav{
    

  align-items: center;
  height: 6.5vw;
  border-radius: 0.2vw 0.2vw;

  }
  
  
 .nav-item{
  margin: 1vw;
 }


  /* .btn-success:active{
    background-color: rgb(240, 119, 119);
  } */
  /* .page-header{
    width: 13vw;
    height: 4vw;
    background-color:rgb(12, 144, 95);
    color: white;
    margin-top: 2vw;
    border-radius: 0.2vw 0.2vw;
    text-align: center;
    margin-right: 1vw;
    padding:0.5vw;
   
  }
  
  
   */
  
  
  
  
  
  
  
  
  
  