
  
  .adminNav{
    

  align-items: center;
  height: 6.5vw;
  border-radius: 0.2vw 0.2vw;

  }
  
  
 .nav-item{
  margin: 1vw;
 }


  /* .btn-success:active{
    background-color: rgb(240, 119, 119);
  } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  