/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@media (min-width: 767px) {
#navbarNavAltMarkup{
   margin-right: 25vw;

}


}
@media (min-width: 992px ){
   #navbarNavAltMarkup{
      margin-right: 10vw;
   
   }

}
@media (min-width: 1200px ){
   #navbarNavAltMarkup{
      margin-right: 20vw;
   
   }

}
@media (max-width: 767px) {
    /* Styles specific to small screens go here */
 #title{
    font-size: medium;
    width: max-content;
    
 }
 .portfolio{
   margin-left: 25vw;
 }
 
 #adminTop{
   float: left;
 }

 #navAlter{
   display: block;
}
  
#adminTop a{
   font-size: x-small;
   width:30vw;
}

#phoneContact{
   width: 25vw;
}



/* For example, you can adjust font sizes, margins, padding, or layout for small screens */
}

.bg-custom{
   background-color: #023e4a;
}

.contact-info i{
   margin-right: 3vw;
  font-size: large;
}