<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/charityMVC.styles.css" asp-append-version="true" />
      <!-- Vendor CSS Files -->
  <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>



  <!-- datatables -->
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>

<section id="topbar" class="topbar d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">  @* contact@example.com*@ </a></i> 
      <i class="bi bi-phone d-flex align-items-center ms-4" id="phoneContact"><span> @* +1 5589 55488 55 *@</span></i> 
      @if(User.Identity.IsAuthenticated)
      {
        if(User.IsInRole("user")) {
          <a  asp-controller="UserProfile" asp-action="GetUserProfile" class="bi bi-person-fill bi-lg" style="cursor: pointer; text-decoration: none;color: white;">
            الملف الشخصى
          </a>
        }
        else if (User.IsInRole("clerk")){
          <a  asp-controller="Clerk" asp-action="getClerk" class="bi bi-person-fill bi-lg" style="cursor: pointer; text-decoration: none;color: white;">
            الملف الشخصى
          </a>
        }
      }
    </div>
    <div id="adminTop"> <!-- Remove the d-none class to display on mobile -->
      @* <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> *@
      @if(!User.Identity.IsAuthenticated)
      {
        <a class="btn btn-warning btn-sm"  asp-controller="Admin" asp-action="LoginAdmin" style="margin-right: 2vw"> مدير النظام <i class="bi bi-box-arrow-in-left"></i></a>
      }
      else {
        <a class="btn btn-warning btn-sm" asp-controller="Register" asp-action="Signout" style="margin-right: 2vw;">تسجيل الخروج <i class="bi bi-box-arrow-right"></i></a>
      }
    </div>
  </div>
</section><!-- End Top Bar -->

@*   
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
            <h2 id="title" style="color: tomato; font-family: 'thuluth';">
                <span>صندوق ذرية محمد بن عثمان بن مسعود الحميد</span>
            </h2>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                <li><a asp-controller="Register" asp-action="register">تسجيل كمستفيد</a></li>
                @if(!User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Clerk" asp-action="LoginClerk" class="stretched-link">دخول الأعضاء</a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("clerk"))
                    {
                        <li><a asp-controller="Clerk" asp-action="getClerk">المشرف</a></li>
                    }
                    if (User.IsInRole("admin"))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="NewPay" class="stretched-link">إنشاء دفعة مالية</a>
                        </li>
                        <li><a asp-controller="Admin" asp-action="Index">المدير</a></li>
                        <li><a asp-controller="Reports" asp-action="Index">التقارير</a></li>
                    }
                }
            </ul>
        </nav>
        <!-- Mobile navigation toggles -->
         <a onclick="ToggleNav()"> 
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
         </a> 
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header> *@

@* <div id="navAlter" style="background-color:#023e4a;">
 <ul style="list-style: none;">
                <li ><a style="color:white" asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                <li ><a style="color:white" asp-controller="Register" asp-action="register">تسجيل كمستفيد</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("clerk"))
                    {
                        <li ><a style="color:white" asp-controller="Clerk" asp-action="getClerk">المشرف</a></li>
                    }

                    if (User.IsInRole("admin"))
                    {
                        <li >
                          <a style="color:white" asp-controller="Clerk" asp-action="getClerk">المدير</a></li>
                        <li >
                          <a  style="color:white" asp-controller="Clerk" asp-action="getClerk">التقارير</a></li>
                    }
                }
                
            </ul>
</div> *@

<nav class="navbar navbar-expand-lg bg-custom">
  <div class="container-fluid">
   <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            <h2 id="title" style="color: tomato; font-family: 'thuluth';">
                <span>صندوق ذرية محمد بن عثمان بن مسعود الحميد</span>
            </h2>
        </a>
        
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span  class="navbar-toggler-icon">
            <i class="bi bi-list"></i>
      </span>
    </button>

     
    
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" style="color:white" aria-current="page"asp-controller="Home" asp-action="Index">الرئيسية</a>
        <a class="nav-link" style="color:white" asp-controller="Register" asp-action="register">تسجيل كمستفيد</a>
       @if(!User.Identity.IsAuthenticated)
      {
        <a class="nav-link"  style="color:white" asp-controller="Clerk" asp-action="LoginClerk" > دخول الاعضاء</a>        
      }
        @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("clerk"))
                    {
                        <a style="color:white" asp-controller="Clerk" asp-action="getClerk">المشرف</a>
                    }

                    if (User.IsInRole("admin"))
                    {
                       
                          <a style="color:white ;margin-left:2vw" asp-controller="Admin" asp-action="Index">المدير</a>
                          <a style="color:white; margin-left:2vw" asp-controller="Admin" asp-action="NewPay" > إنشاء دفعة مالية</a>
                          <a  style="color:white; margin-left:2vw" asp-controller="Reports" asp-action="Index">التقارير</a>
                    }
                }
      </div>

     
    </div>
  </div>
</nav>



<!-- End Header -->

@* <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          
        
        </li>
      </ul>
    </div>
  </div>
</nav> 




@*     
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">charityMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> 
    @* <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@
    
    <div >
            @RenderBody()
    </div>


      <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <!-- <span>Impact</span> -->
          </a>
          <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p> -->
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links" style="text-align: center;">
          <h4>لينكات</h4>
          <ul>
              
             @if(!User.Identity.IsAuthenticated)
             {
            <li><a asp-controller="Register" asp-action="login">تسجيل دخول مستفيد</a></li>
            <li>
            <a  asp-controller="Admin" asp-action="LoginAdmin"> مدير النظام </a>
            </li> 
                <li>
         <a asp-controller="Clerk" asp-action="LoginClerk" > دخول الاعضاء</a>        
            </li> 
             }
             else 
             {
            <li><a asp-controller="Register"  asp-action="Signout">تسجيل خروج</a></li>
             }
            <li><a asp-controller="Register" asp-action="register" >تسجيل مستفيد</a></li>
            
          </ul>
        </div>

        @* <div class="col-lg-2 col-6 footer-links">
          <h4>خدماتنا</h4>
          <ul>
            <!-- <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li> -->
          </ul>
        </div> *@

        @* <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4> تواصل معنا</h4>
          <p>
      
            <strong>Phone:</strong> +201017696026<br>
            <strong>Email:</strong>abdo.mohamed6319@gmail.com<br>
          </p>

        </div> *@

      </div>
    </div>

    <div class="container mt-4">
    
    
    </div>

  </footer><!-- End Footer -->


@* 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - charityMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
  <!-- Vendor JS Files -->
  <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/vendor/aos/aos.js"></script>
  <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>



<script src="~/assets/hijri-date-picker-master/dist/js/hijri-date-picker.js"></script>

  <!-- Template Main JS File -->

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


<!-- Include jQuery Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>

<!-- Include jQuery Validation Unobtrusive (for ASP.NET Core) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-hijri-datetimepicker.min.js"></script>
    <script src="~/js/bootstrap-doc.js"></script>
    
    <script src="~/js/highlight.pack.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

@section Scripts{
  <script>

    function ToggleNav(){
     alert("Toggle navigation");
     var nav = document.getElementById("navAlter");
     nav.style.display="none";
    // nav.style.display="block";
    }

   
  </script>

  
}
</body>
</html>
