  <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
        <h3 class="mt-5">  الملف الشخصى</h3>
        <form action="" method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label>الاسم رباعي: <span class="text-danger">*</span></label>
                <input type="text" id="full_name" name="full_name" class="form-control" required>
            </div>

            <div class="form-group">
                <label>رقم الهوية : <span class="text-danger">*</span></label>
                <input type="text" id="id_number" name="id_number" class="form-control" required>
            </div>
            

            <div class="form-group">
                <label>تاريخ الميلاد: <span class="text-danger">*</span> </label>
                <input type="date" id="birthdate" name="birthdate" class="form-control" required>
            </div>

            
            <div class="form-group">
                <label>رقم الجوال: <span class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="text" id="mobile_number" name="mobile_number" class="form-control" required>
                    <span class="input-group-text">+966</span>

                </div>
            </div>
            
            <div class="form-group">
                <label>المدينة: <span class="text-danger">*</span> </label>
                <input type="text" id="city" name="city" class="form-control" required>
            </div>

            <div class="form-group">
                <label>صورة من الهوية الشخصية: <span class="text-danger">*</span></label>
                <input type="file"  name="id_image" class="form-control" accept="image/*" required>
            </div>

            <div class="form-group">
                <label>صورة من بطاقة العائلة: <span class="text-danger">*</span> </label>
                <input type="file" name="family_card_image" class="form-control" accept="image/*" required>
            </div>


            <div class="form-group">
                <label>رقم الحساب البنكي (الراجحي فقط): <span class="text-danger">*</span></label>
                <input type="text" id="bank_account_number" name="bank_account_number" class="form-control">
            </div>
            
            <div class="form-group" >
                <label> عدد الأبناء؟ <span class="text-danger">*</span></label>
                <select id="children_count" name="children_count" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5+">أكثر من 4</option>
                </select>
            </div>

            <!-- هل لديك دخل أو مساعدات دورية أو ضمان اجتماعي؟ -->
            <div class="form-group">
                <label>هل لديك دخل أو مساعدات دورية أو ضمان اجتماعي؟ <span class="text-danger">*</span> </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="income_support-yes" name="income_support" value="نعم" required>
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="income_support-no" name="income_support-no" value="لا" required>
                    <label class="form-check-label">لا</label>
                </div>
            </div>

            <!-- هل يوجد حالة إعاقة أو لأحد عائلتك؟ -->
            <div class="form-group" required>
                <label>هل يوجد حالة إعاقة أو لأحد عائلتك؟ <span class="text-danger">*</span> </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="disability" value="نعم">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="disability" value="لا">
                    <label class="form-check-label">لا</label>
                </div>
                <input class="form-control mt-2" type="file" name="disability_proof" accept="image/*">
            </div>

            <!-- هل يوجد أرملة أو مطلقة؟ -->
            <div class="form-group">
                <label>هل يوجد أرملة أو مطلقة؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="widow" value="نعم">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="widow" value="لا">
                    <label class="form-check-label">لا</label>
                </div>
            </div>

            <!-- هل يوجد كبير سن (فوق 60)؟ -->
            <div class="form-group">
                <label>هل يوجد كبير سن (فوق 60)؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="elderly" value="نعم">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="elderly" value="لا">
                    <label class="form-check-label">لا</label>
                </div>
            </div>

            <!-- هل يوجد دين؟ -->
            <div class="form-group">
                <label>هل يوجد دين؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="debt" value="نعم">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="debt" value="لا">
                    <label class="form-check-label">لا</label>
                </div>
                <input class="form-control mt-2" type="file" name="debt_proof" accept="image/*">
            </div>

            <!-- هل السكن ملك أو ايجار؟ -->
            <div class="form-group">
                <label>هل السكن ملك أو ايجار؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="housing_status" value="ايجار">
                    <label class="form-check-label">ايجار</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="housing_status" value="ملك">
                    <label class="form-check-label">ملك</label>
                </div>
                <input class="form-control mt-2" type="file" name="housing_proof" accept="image/*">
            </div>

            <!-- هل يوجد شخص يستلم المساعدة بالنيابة؟ -->
            <div class="form-group">
                <label>هل يوجد شخص يستلم المساعدة بالنيابة؟ </label><br>
                <label>الاسم:</label>
                <input type="text" name="proxy_name" class="form-control">
                <label>رقم الحساب:</label>
                <input type="text" name="proxy_account_number" class="form-control">
            </div>
          
            <button type="submit" class="btn btn-primary">حفظ</button>
        </form>
        </div>
        </div>
        <div class="col-sm-2"></div>

    </div>

